@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Cyan: hsl(179, 62%, 43%);
    --Bright_Yellow: hsl(71, 73%, 54%);
    --Light_Gray: hsl(204, 43%, 93%);
    --Grayish_Blue: hsl(218, 22%, 67%);
}

html, body, main {
    height: 100%;
    width: 100%;
    font-family: 'Karla', sans-serif;
}

body {
    background-color: var(--Light_Gray);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containers {
    display: grid;
    grid-template-areas: 
    "container1"
    "container2"
    "container3";
    height: 720px;
    width: 310px;
}

.container1 {
    grid-area: container1;
    padding: 30px 20px;
    background-color: white;
}

h1 {
    font-size: 22px;
    color: var(--Cyan);
    padding-bottom: 10px;
}

.days{
    padding-bottom: 10px;
    color: var(--Bright_Yellow);
}

.info {
    color: var(--Grayish_Blue);
    font-size: 14px;
    line-height: 25px;
}

.container2{
    grid-area: container2;
    background-color: var(--Cyan);
    padding: 30px 20px;
}

h2 {
    color: white;
    font-size: 20px;
}

.value {
    color: white;
    font-size: 30px;
    display: flex;
    gap: 10px;
    align-items: center;
    padding-top: 15px;
}

span {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.61);
}

.info2 {
    color: rgb(255, 255, 255);
    padding-top: 10px;
    padding-bottom: 20px;
}

button {
    width: 100%;
    height: 50px;
    color: white;
    background-color: var(--Bright_Yellow);
    border-radius: 8px;
}

.container3 {
    padding: 20px 20px;
    background-color: hsl(179, 62%, 47%);
    grid-area: container3;
}


.info3 {
    padding-top: 10px;
    padding-right: 20%;
    color: rgba(255, 255, 255, 0.767);
    line-height: 22px;
}

.attribution { 
    font-size: 11px; 
    text-align: center;
}
.attribution a { color: hsl(228, 45%, 44%); }

@media screen and (min-width:1440px) {   
    body {
        display: flex;
        flex-direction: column;
    }

    .containers {
        height: 480px;
        width: 634px;
        grid-template-areas:
        "container1 container1"
        "container2 container3";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .container1 {   
        grid-area: container1;
    }

    h1 {
        font-size: 24px;
        padding: 20px 20px;
    }

    .days{
        font-size: 16px;
        padding: 0px 20px;
        padding-bottom: 20px;
        font-weight: 600;
        padding-top: 10px;
    }

    .info {
        padding-top: 10px;
        font-size: 14px;
        padding-left: 20px;
        width: 85%;
        line-height: 30px;
    }
    
    .container2 {
        grid-area: container2;
    }

    h2 {
        font-size: 20px;
        padding: 20px 20px;
    }
    
    .value {
        font-size: 36px;
        padding: 0 20px;
    }

    .info2 {
        font-size: 14px;
        padding: 10px 20px;
    }

    button {
        margin: 20px 20px;
        width: 80%;
        height: 25%;
    }

    .container3 {
        grid-area: container3;
    }

    .info3 {
        font-size: 14px;
        padding: 0 30px;
        width: 80%;
        line-height: 25px;

    }


    .attribution { 
        font-size: 11px; 
        text-align: center;
        bottom: 20px;
        left: 50%;
     }
    .attribution a { color: hsl(228, 45%, 44%); }
}